.mts-root {
  background-image: url("../images/my-mts-banner.jpg");
  background-size: cover;
  max-width: 100%;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

.mts-logo {
  width: 40px;
}

.mts-user-item:hover {
  color: red;
  cursor: pointer;
}

.mts-photo-icone {
  width: 50px;
}

.mts-delete-post {
  font-size: 20px;
  float: right;
  color: black;
  cursor: pointer;
}

.mts-delete-post:hover {
  font-size: 20px;
  float: right;
  background-color: #17a2b8;
}

.mts-img-post {
  width: 100%;
  max-height: 60%;
}

.mts-image-profile {

}

.mts-container-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.mts-loading {
  position: absolute;
  z-index: 150;
  border: 16px solid #f3f3f3;
  border-top: 16px solid black;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mts-container-login {
  position: absolute;
  margin: 200px auto;
  margin-left: 500px;
  margin-top: 250px;
  width: 30%;
  text-align: center;
  background-color: #D3D3D3;
}

.mts-title-login {
  width: 100%;
  height: 10%;
  margin-bottom: 5%;
}

.mts-input-email-login {
  width: 100%;
  border:1px solid black;
  padding:5px;
  -moz-border-radius:10px 0;
  -webkit-border-radius:10px 0;
  border-radius:10px 0;
  margin-bottom: 5%;
  font-size: 18px;
}

.mts-input-password-login {
  width: 100%;
  border:1px solid black;
  padding:5px;
  -moz-border-radius:10px 0;
  -webkit-border-radius:10px 0;
  border-radius:10px 0;
  margin-bottom: 5%;
  font-size: 18px;
}

.mts-buttons-login {
  width: 100%;
  display: inline-block;
  margin-bottom: 10%;
}
